<h1>This is app Component</h1>
<div class="container" set-background>
    <p>
        This is a demo HTML content to understand custom attribute directive in
        angular
    </p>
</div>

<!-- renderer -->
<div appHighlight appHover>
    <p>
        This is a demo HTML content to understand custom attribute directive in
        angular
    </p>
</div>

<div
    class="container"
    appBetterhighlight
    [defaultColor]="'green'"
    [highLightColor]="'orange'"
>
    <p>This is a demo HTML content to understand host binding in angular</p>
</div>

<div appClass [display]="{ container: true, 'change-font': true }">
    <p>
        This is a demo HTML content to create custom ngClass directive in
        angular
    </p>
</div>

<button class="btn btn-notice" (click)="displayNotice()">Show Notice</button>

<!-- <div class="info-container notice" *ngIf="display; else #myVar">
    <h3>THis is important notice!</h3>
    <p>This is a notice issued for all website users.</p>
    |
    V
</div> -->
<!-- <ng-template #myVar>
    <div class="info-container notice">
        <h3>This is example paragraph.</h3>
    </div>
</ng-template> -->

<!-- <ng-template [ngIf]="display" [ngIfElse]="myVar">
    <div class="info-container notice">
        <h3>THis is important notice!</h3>
        <p>This is a notice issued for all website users.</p>
    </div>
</ng-template>
<ng-template #myVar>
    <div class="info-container notice">
        <h3>This is example paragraph.</h3>
    </div>
</ng-template> -->

<!-- custom SD -->
<!-- <div class="info-container notice" *appIf="display">
    <h3>THis is important notice!</h3>
    <p>This is a notice issued for all website users.</p>
</div> -->

<!-- ngSwitch -->
<div class="container" [ngSwitch]="occupation">
    <p *ngSwitchCase="'teacher'">
        This paragraph will be displayed when occupation is teacher.
    </p>
    <p *ngSwitchCase="'disigner'">
        This paragraph will be displayed when occupation is disigner.
    </p>
    <p *ngSwitchCase="'lawyer'">
        This paragraph will be displayed when occupation is lawyer.
    </p>
    <p *ngSwitchDefault>
        This paragraph will be displayed when occupation is not mathc with any
        switch expression.
    </p>
</div>
