<h1>This is app Component</h1>
<div class="container" set-background>
    <p>
        This is a demo HTML content to understand custom attribute directive in
        angular
    </p>
</div>

<!-- renderer -->
<div appHighlight appHover>
    <p>
        This is a demo HTML content to understand custom attribute directive in
        angular
    </p>
</div>

<div
    class="container"
    appBetterhighlight
    [defaultColor]="'green'"
    [highLightColor]="'orange'"
>
    <p>This is a demo HTML content to understand host binding in angular</p>
</div>

<div appClass [display]="{ container: true, 'change-font': true }">
    <p>
        This is a demo HTML content to create custom ngClass directive in
        angular
    </p>
</div>
